<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertir Archivos - UAEMex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="social-icons">
                <a href="https://www.facebook.com/RVEcatepec" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" class="icon">
                </a>
                <a href="https://www.youtube.com/@labrvuaemexecatepec1974" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733646.png" alt="YouTube" class="icon">
                </a>
                <a href="mailto:jjamadorr@uaemex.mx">
                    <img src="https://cdn-icons-png.flaticon.com/512/281/281769.png" alt="Email" class="icon">
                    jjamadorr@uaemex.mx
                </a>
            </div>
        </div>
        <nav class="navbar">
            <a href="#" class="logo">
                <img src="{{ url_for('send_asset', path='uaemex-logo.jpg') }}" alt="UAEMex Logo">
                <img src="{{ url_for('send_asset', path='labo-logo.jpg') }}" alt="Labo logo" class="labo-logo">
                <img src="{{ url_for('send_asset', path='CU-Ecatepec.jpeg') }}" alt="CU-Ecatepec logo" class="CU-Ecatepec-logo">
            </a>
            <ul class="nav-links">
                
                <li><a href="#" id="soporteBtn">Soporte</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="cont">
            <h1>Convertir Archivo</h1>
            <p>Convierte tu tabla de datos a un archivo CSV de manera rápida y segura.</p>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file-input" class="form-control">
                <button type="submit" class="btn">Convertir</button>
            </form>
            {% if mensaje %}
                <div class="alert alert-{{ categoria }}">
                    {{ mensaje }}
                </div>
            {% endif %}
            {% if descargar %}
                <p>{{ mensaje }}</p>
                <a href="{{ url_for('descargar', archivo=archivo) }}" class="btn" style="text-decoration: none;" onclick="setTimeout(function(){ window.location.href = '/'; }, 1000);">
                    Descargar archivo convertido
                </a>
            {% endif %}
        </section>
        <section class="features">
            <h2>Características</h2>
            <ul>
                <li>Conversión rápida y segura</li>
                <li>Próximamente compatibilidad con PDF</li>
                <li>Interfaz fácil de usar</li>
            </ul>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-links">
                <a href="#" id="avisoBtn">Aviso de Privacidad</a>
                <a href="#" id="terminosBtn">Términos de Uso</a>
            </div>
            <p>&copy; 2024 Laboratorio de Realidad Virtual C.U. UAEM Ecatepec. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-text"></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
